<div class="card card-body">
  <h2>Add Post</h2>

  <form>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="form-control" name="title"
      #title>
    </div>
    <div class="form-group">
      <label>Body:</label>
      <textarea type="text" rows="5" class="form-control" name="body" 
      #body></textarea>
    </div>
    <!-- <input type="hidden" name="id"
    [(ngModel)]="post.id"> -->
    <button (click)="addPost(title.value, body.value)" type="button" class="btn btn-success">Add</button>
    <button (click)="goBack()" type="button" class="btn btn-danger">Cancel</button>
  </form>
</div>