.btn {
    margin-right: 5px;
  }
  
  .card {
    border: 2px solid #B3B6B7;
    box-shadow: 3px 10px #888888;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #D0D3D4;
    border-radius: 5px;
  }
  
  .card-body:hover {
    cursor: pointer;
  }